/* THIS STYLING IS FOR THE HOME PAGE

/* circle border for portrait. */
/* .image-crop { */
    width: 50rem;
    display: flex;
    height: auto;
    position: absolute;
    align-items: center;
    left: 25%;
    padding-top: 10%;
}

/* Orientation of image and paragraph on home */
/* .image-crop, img, p{ */
    justify-content: space-between;
    display: flex;
    font-size: 1.5rem;
}

/* Home main picture */
/* .home-profile-pic { */
    display: flex;
    margin: 0 auto;
    height: auto;
    width: auto;
    vertical-align: middle;
  }

  /* Main home paragraph. */
/* .image-crop, p, h1 { */
      width: 70%;    
      height: 45%;
      padding-right: 50%;
      position: relative;
      text-align: left;
    } 

  /* alignment and sizing for nav bar/icons */
/* .navigation-icons { */
    display: flex;
    justify-content: center;
  }

  /* This fixed the sizing error in imgs */
/* #nav-home { */
    display: flex;
    justify-content: center;
}

/* .nav-icon { */
    width: 5rem;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 2rem;
}

  /* alignment for social links */
/* .footer-socials-home { */
    display: flex;
    position: absolute;
    bottom: 10px;
}

/* .social-icon { */
      width: 3rem;
      display: flex;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      bottom: 1rem;
  }

  /* PHONE STYLING FOR HOME PAGE */

 
    [class*="col-"] {
      width: 100%;
    }

    .image-crop {
      text-align: center;
      width: 100%;
      position: absolute;
      font-size: 3.75vw;

    }

    .home-profile-pic{
      width: 20rem;
    }

    #home-paragraph{
      width: auto;
      text-align: center;

    }
    #home-paragraph, p{
      width: auto;
    }

    #nav-home{
      position: absolute;
      
    } 
    .nav-icon{
        width: 3rem;
        justify-content: space-between;
      }

    .footer-socials-home{
      position: absolute;
      bottom: 10px;
      width: 100%;
      display: flexbox;
      justify-content: flex-end;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .social-icon{
      width: 3rem;
      padding-left: 1rem;
      padding-right: 0.75rem;
    }
     
    }

    
  





  /* THIS STYLING IS FOR THE ABOUT ME PAGE */







  /* THIS STYLING IS FOR THE CONTACT PAGE */









  /* THIS STYLING IS FOR THE PROJECTS PAGE */






  /* THIS STYLING IS FOR THE RESUME PAGE */